node_modules
pnpm-lock.yaml.dirty

dist
.build
.cache

*.log
*.tsbuildinfo
*.env
*.env.*
.env.local
.env.development.local
.env.production.local
.env.test.local

.vscode
.idea
.DS_Store
*.swp
*.swo

coverage
.nyc_output
__tests__
*.spec.ts
*.test.ts

Dockerfile*
docker-compose*

.github
.gitlab
husky.config.js
.husky
commitlint.config.*
.prettier*
.eslintrc*
.editorconfig
